[Unit]
Description=CEP North_101
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cepgateway/app/North_101
Environment="LD_LIBRARY_PATH=/home/cepgateway/app/lib/:/home/cepgateway/lib/"
ExecStart=/home/cepgateway/app/North_101/bin/North_101 -debug
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=5
KillMode=control-group
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
