[Unit]
Description=CEP LogicCenter
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cepgateway/app/LogicCenter
Environment="LD_LIBRARY_PATH=/home/cepgateway/app/lib/:/home/cepgateway/lib/"
ExecStart=/home/cepgateway/app/LogicCenter/bin/LogicCenter -debug
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=5
KillMode=control-group
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
