[Unit]
Description=CEP Modbus
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cepgateway/app/South_Modbus
Environment="LD_LIBRARY_PATH=/home/cepgateway/app/lib/:/home/cepgateway/lib/"
ExecStart=/home/cepgateway/app/South_Modbus/bin/South_Modbus -debug
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=5
KillMode=control-group
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
